@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Style+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: dimgrey;
}


/* headings and logo */

h1, h2 {
    font-family: Style Script, Verdana;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid blue;
}

.active {
    border-bottom: 1px solid blue;
}

/* choir image and tagline */

#choir-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: lightblue;
}

#choir-image {
    height: 600px;
    width: 100%;
    background-image: url('../images/choirperform.jfif');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 60%;
    margin-left: 30px;
}

#tagline, #tagline h2 {
    color: #00008b;
}

#tagline {
    font-size: 130%;
    font-family: Style-Script, Verdana;
    letter-spacing: 4px;
    width: 350px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    bottom: 150px;
    right: 150px;
    position: absolute;
    border: 2px solid white;
}

#tagline h2 {
    font-size: 200%;
}

/* about us section */
#about-us {
    height: 600px;
    background-color: ivory;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left;
    padding-left: 150px;
}

#right-about {
    padding-top: 30px;
    width: 40%;
    float: right;
}

hr {
    border-top: 2px solid #00008b;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#welcome {
    text-align: center;
    margin: 10px 0;
}

#font-increase {
    font-size: 280%;
}

/* Our Services Section */

#services {
    background-image: url('../images/choir\ loft\ 3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#service-title {
    color: dimgrey;
    text-align: center;
    font-size: 280%;
    background-color: lightblue;
}

#services div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    width: 25%;
    height: 250px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid lightblue;
    box-sizing: border-box;
}

#services h2 {
    color: #fafafa;
}

/* footer */

footer {
    height: 150px;
    background-color:#fff9e3;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: dimgrey;
}

/* the choir gallery */

#sign-up {
    background-color: #fff9e3;
}

#sign-up .criteria {
    background-color: rgba (255,249,227, 0.7);
}

#gallery-title {
    clear: both;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 200%;
    background-color: lightblue;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

.criteria {
    height: 200px;
    float: left;
    margin-left: 150px;
}

.criteria hr {
    width: 50%;
}

#form {
    clear: both;
    background-color: lightblue;
    padding-top: 20px;
    padding-left: 10%;
}

.form-section {
    clear: left;
    background-color: lightblue;
    background-size: cover;
    background-position: center;
    height: 450px;
}

.signup-form {
    margin: 50px 10% 0 0;
    color: #fff;
    background-color: rgba(46, 45, 45, 0.6);
    max-width: 300px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #0073c4;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #0073c4;
}

/* Contact Us Page Form Section */

.contact-us-section {
    clear: left;
    background-color: lightblue;
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-bottom: 30px;
}

.contact-us-form {
    margin: 50px 10% 0 0;
    color: #fff;
    background-color: rgba(46, 45, 45, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.contact-us-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

input[type="radio"]{
    margin: 0 10px 0 10px;
  }

/* Contact Us Choir Director Section */

#director-heading {
    margin-top: 50px;
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}

#directors {
    text-align: justify;
    margin: 30px 25%;
    background-image: url("../images/cross1.jfif");
    padding: 20px;
    color: #fff;;
}

#circle-container {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
}

#circle1-bg {
    background: url("../images/choir\ director1.jpeg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}



/* Media query for large screen sizes from 1500px wide and down  */

@media screen and (max-width: 1500px) {
    #about-us {
        width: 100%;
        height: 900px;
        text-align: center;
        position: relative;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
        text-align: center;
    }

    #tagline {
        margin-right: -70px;
        width: 30%;
        font-size: 95%;
    }

     .left-about-heading {
        padding-left: 400px;
    }

    #right-about {
        padding-right: 300px;
    }


       
    #services div {
        width: 100%;
        clear: both;
        height: 100px;
        padding: 0;
    }

    hr {
        display: none;
    }

    /*Gallery sign up form */

    #sign-up {
        width: 100%;
        height: 700px;
    }

    #sign-up {
        text-align: center;
    }
    
    #sign-up .criteria {
        display: inline-block;
        padding: 50px;
        vertical-align: top;
    }

    .criteria {
        height: 200px;
        float: left;
        margin-left: 400px;
    }
    
    #sign-up ul {
        list-style-type: none;
    }   
    }


    /* Media query for large screen sizes from 1430px wide and down  */

@media screen and (max-width: 1430px) {

   .left-about-heading {
        padding-left: 350px;
    }
    }

/* Media query for large screen sizes from 1310px wide and down  */

@media screen and (max-width: 1310px) {
    
    #tagline {
        margin-right: -100px;
        width: 30%;
        font-size: 95%;
    }

     .left-about-heading {
        padding-left: 300px;
    }

    
    /*Gallery sign up form */

    #sign-up {
        width: 100%;
        height: 650px;
    }
    
    .criteria {
        margin-left: 350px;
    }
}

/* Media query for large screen sizes from 1260px wide and down  */

@media screen and (max-width: 1260px) {
    
    .left-about-heading {
        padding-left: 300px;
    }

    #right-about {
        padding-right: 250px;
    }
       
    /*Gallery sign up form */

    #sign-up {
        width: 100%;
        height: 500px;
    }

    .criteria {
        height: 100px;
        float: left;
        margin-left: 300px;
    } 
    }

/* Media query for large screen sizes from 1060px wide and down  */

@media screen and (max-width: 1060px) {
    #choir-outer {
        height: 500px;
    }

    #choir-image {
        height:500px
    }

    #tagline {
        height: 150px;
    }

    #about-us {
        height: 950px;
    }

    #left-about {
        padding-top: 20px;
        width: 75%;
        padding-left: 200px;
    }

    #right-about {
        padding-top: 20px;
        width: 70%;
        padding-right: 0px;
        padding-left: 200px;
        margin: 0 auto;
   }

    .left-about-heading {
        padding-left: 100px;
    }

    /*Gallery sign up form */

   .criteria {
       margin-left: 200px;
   }

    /* Background image of the director */
    #directors {
        background-position: center;
    }

}

/* Media query for medium screen sizes from 960px wide and down */
@media screen and (max-width: 960px) {
    
    #menu {
        clear: left;
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
        line-height: 25px;
        }

    #tagline {
        left: 30px;
        padding: 30px;
        background-color: rgba(137, 196, 244, 0.5);
        margin-bottom: -90px;
    }

    #choir-image {
        display: block;
        width: 90%;
        background-size: cover;
    }

    #welcome > p {
        width: 90%;
        padding-left: 40px;
    }

    #about-us {
        width: 100%;
        height: 950px;
        }
    
    #left-about {
        padding-left: 150px;
    }

    #right-about {
        padding-top: 50px;
        padding-right: 0px;
        padding-left: 150px;
    }

    .left-about-heading {
        padding-left: 100px;
    }

    /* footer */

    footer {
        height: 100px;
    }

    /*Gallery images and sign up form */

    .criteria {
        height: 100px;
        margin-left: 150px;
    }

   
}

/* Media query for medium screen sizes from 770px wide and down */
@media screen and (max-width: 770px) {

    #tagline {
        font-size: 80%;
        height: 100px;
    }

    #about-us {
        height: 900px;
        font-size: 80%;
        }
    
    #left-about {
        padding-left: 80px;
        width: 85%;
    }

    #right-about {
        padding-top: 50px;
        padding-right: 0px;
        padding-left: 300px;
        width: 75%;
    }

    /* services */
    #services {
        font-size: 80%;
    }

    /*Gallery images and sign up form */

    #photos {
        column-count: 2;
        padding: 0 30px;
    }

    .criteria {
        margin-left: 70px;
    }
}

/* Media query for small screen sizes from 600px wide and down */
@media screen and (max-width: 600px) {

    #logo {
        font-size: 120%;
        padding-top: 20px;
    }
    
    #logo, #menu {
        line-height: 50px;
    }
    
    #menu {
        font-size: 80%;
        letter-spacing: 1px;
        margin-bottom: 10px;
        margin-left: 25px;
        
       }

    #choir-outer {
        height: 380px;
    }

    #choir-image {
        height: 290px;
        margin-left: 0px;
        width: 95%;
        margin: 6px;
    }

    #tagline {
        height: 50px;
        font-size: 50%;
        width: 80%;
        letter-spacing: 2px;
        bottom: 15px;
        padding: 5px;
        margin: 0px;
        text-align: center;
    }

    #about-us {
        height: 600px;
        font-size: 60%;
    }

    #welcome {
        padding: 30px 0px 10px 0px;
    }

    #welcome > p {
        padding-left: 10px;
    }

    #left-about {
        padding-left: 0px;
        padding: 20px;
    }

    .left-about-heading {
        padding: 0px;
        margin: 10px 0px;
        width: 100%;
        line-height: 15px;
        float: none;
    }

    #right-about {
        width: 85%;
        padding-top: 0px;
        padding-left: 0px;
        padding: 20px;
        float: none;
    }

    .right-about-heading {
        padding: 0px;
        margin: 10px 0px;
        width: 100%;
        line-height: 15px;
        float: none;
    }
}